.loading{
    margin-top: 150px;
}

.header{
    display: flex;
   justify-content: space-between;
   margin: 25px 10px;

    
}
.notFound{
    margin-top: 100px;
}

.container{
   
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    color: white;
   margin: 20px 160px;
   border-radius: 10px;
   align-content: space-around;
   min-height: 700px;
   
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 20px;
    border: none;
    padding: 5px 30px;
    height: 250px;
    color: white;
    background: black;
    border-radius: 5px;
    box-shadow:  0 0 10px 3px var(--normal);
    transition:  0.4s ease;
}

.card:hover{
    transition:  0.4s ease;
    transform: translateY(10px);
    transform-origin: center center;
}
.refresh{
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.refresh button{
    width: 250px;
    height: 40px;
    background: #369243;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh button:hover{
    box-shadow: 0 0px 12px #369243;
}

.filtro{
    width: 250px;
    height: 40px;
}
.checkFiltro button{
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.checkFiltro button:hover{
    box-shadow: 0 0 5px white;

}



.card li{
 display: inline-block;
 margin: 0 5px;
 border: none;
 padding: 4px;
 font-size: 15px;
 border-radius: 8px;
 overflow: hidden;
}


.div_btn{
    display: flex;
    justify-content: center;
    
    margin-bottom: -10px ;
   
}
.btn{
    padding: 5px;
    background: var(--banner);
    margin: 5px ;
    color: white;
    border-style: none;
    size: 2em;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 2px 10px white;

}

/* modal */
.modal{
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
.btn_modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 400px;
	height: 320px;
	margin: auto;
	background: rgba(255, 255, 255, 0.796);
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
.btn_modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 15px;
	background: var(--red);
	color: #fff;
}
.lbl_close_modal{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}
.contenido {
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 35px;
}
.contenido button{
    background: var(--red);
    color: white;
    padding: 8px;
    box-shadow: 0 2px 10px var(--red);
    border-radius: 16px;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-top: 15px;
}

.contenido button label{
    cursor: pointer;
}


.btn_modal{
	display: none;
    position: relative;
}
.lbl_modal{
	background: var(--red);
	padding: 11px 36px;
	cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.lbl_modal:hover{
    box-shadow: 0 0 12px var(--red);

}

.error{
    margin-top: 100px;
    color: white
}
.error h1{
    margin-bottom: 30px;
}
.error button{
    padding: 10px;
    font-size:20px;
    background: #FFD466;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #001C63;
    color: #001C63;
}

.shadow{
    background: rgba(0, 0, 0, 0.179);
    color:rgb(77, 77, 77);
    box-shadow: 0 2px 10px black;
}
.bug{
    background: #009763;
    color: #fff;
    box-shadow: 0 2px 10px var(--bug);
}
.dragon{
    background:#A7C5EB;
    color: #fff;
    box-shadow: 0 2px 10px var(--dragon);
}
.electric{
    background:#FFC107;
    color: #fff;
    box-shadow: 0 2px 10px var(--electric);
    text-shadow: 0 0 4px black;
}
.fairy{
    background:#FFAEC0;
    color: #fff;
    box-shadow: 0 2px 15px var(--fairy);
    text-shadow: 0 0 4px black;
    
}
.fighting{

    background:#F76135;
    color: #fff;
    box-shadow: 0 2px 10px var(--fighting);
    
}
.fire{
background: #df191c;
color: #fff;
box-shadow: 0 2px 10px var(--fire);
}
.flying{
    background:#28527A;
    color: #fff;
    box-shadow: 0 0px 10px var(--flying);
}
.ghost{
    background:#7363dc;
    color: #fff;
    box-shadow: 0 2px 10px var(--ghost);
}
.grass{
    background:#24D64E;
    color: #fff;
    box-shadow: 0 2px 10px var(--grass);
}
.ground{
    background:#CDAC81;
    color: #fff;
    box-shadow: 0 2px 10px var(--ground);
    text-shadow: 0 0 4px black;
}
.ice{
    background:#84DEFF;
    color: #fff;
    box-shadow: 0 2px 10px var(--ice);
    text-shadow: 0 0 4px black;
}
.normal{
    background: var(--normal);
    color: black;
    box-shadow: 0 1px 5px rgb(58, 57, 57);
}
.poison{
    background:#93329E;
    color: #fff;
    box-shadow: 0 2px 10px var(--poison);
}
.psychic{
    background:#d85c75;
    color: #fff;
    box-shadow: 0 2px 10px var(--psychic);
}
.rock{
    background: #58391C;
    color: #fff;
    box-shadow: 0 2px 10px var(--rock);
}
.steel{
    background:#6b6b6b;
    color: #fff;
    box-shadow: 0 2px 10px var(--steel);
}
.water{
    background:#2653B5;
    color: #fff;
    box-shadow: 0 2px 10px var(--water);
}
.dark{
    background:black;
    color: #fff;
    box-shadow: 0 2px 6px white
}
.unknown{
    background:#b3aee1;
    color: #fff;
    box-shadow: 0 0px 10px var(--unknown);
}