.header{
    display: flex;
   justify-content: space-between;
   margin: 25px 10px;

    
}
.SearchBar{
    width: 255px;
    height: 44px;
    background-color: #313131;
    color: white
}
.SearchBar input{
    padding: 10px;
}
.SearchBar button{
    padding: 10px;
}

.filtro{
    width: 255px;
    height: 44px;
    background-color: #313131;
    color: white;
}
.container{
     /* background-color: rgb(242, 237, 216); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 200px;
    border-radius: 10px;
    box-shadow:  0 0 10px 5px var(--shadow)
 
}
.card{
    margin: 30px 40px
   
}

.div_btn{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -10px ;
    bottom: 0;
    right: 0;
    left: 0;
}
.btn{
    padding: 5px;
    background: var(--red);
    margin: 5px ;
    color: white;
    border-style: none;
    size: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 10px var(--red);
    cursor: pointer;
    
}

